<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='../../files/css/style.css' rel='stylesheet' type='text/css'>
    <title>Сервис ремонта бытовой техники</title>
    </head>
    <body>
        <header>
            <div class="row">
                <div name="logo">

                </div>
                <div name="cath-phrase">
                    Ремонт стиральных машин, качественно и недорого!
                </div>
                <div name="contacts-header">
                    +380504488929
                </div>
            </div>
        </header>
    </body>
<footer>

</footer>
</html>